ul.ddmenu {
    margin: 0px;
    padding: 0px 0px 0px 15px;
}

ul.ddmenu li {
    width: 125px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul.ddmenu a {
    background-color: lightgray;
    color: white;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
    border-radius: 10px;
}

ul.ddmenu ul {
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

ul.ddmenu a:hover {
    background-color: #73ce6f;
    color: white;
}
ul.ddmenu li:hover ul {
    display: block;
}